@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Kumbh Sans", sans-serif;
  line-height: 1.4;
  font-weight: 400;

  color: var(--veryDarkDesaturatedBlue);
  background-image: linear-gradient(
    to bottom,
    var(--softViolet),
    var(--softBlue)
  );

  /* TEXT */
  --veryDarkDesaturatedBlue: hsl(238, 29%, 16%);
  --softRed: hsl(14, 88%, 65%);
  /* BACKGROUND */
  --softViolet: hsl(273, 75%, 66%);
  --softBlue: hsl(240, 73%, 65%);
  /* TEXT */
  --veryDarkGrayishBlue: hsl(237, 12%, 33%);
  ---darkGrayishBlue: hsl(240, 6%, 50%);
  /* DIVIDERS */
  --lightGrayishBlue: hsl(240, 5%, 91%);
}

html,
body {
  height: 100%;
  margin: 0;
}
